* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #CEBEB8;
    font-family: "Tahoma", sans-serif;
}

body {
    background-image: radial-gradient(#2F2F2F 20%, Black, #FC3C44 140% );
}

.title {
    display: flex;
    justify-content: center;
	color: #FC3C44;
}

.album-cards {
    display: flex;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0  0 ;
	width: 100%;
    max-width: 100%;
      max-height: 536px;
    background-color: #141414;
}

.card h2 {
    z-index: 300;

}

.album-img-overlay-container {}

.album-img {
    max-width: 400px;
    z-index: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;

}

.album-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FC3C44;
    padding: 10px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: -1;
    z-index: 100;
    align-self: end;
}

.card-info {
    margin: 500 auto 0 auto;
    border-top: #F5F4F1 solid 1px;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-end: -1;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.avatar {
    width: 100px;
    height: 100px;
    border: #FC3C44 solid 2px;
    border-radius: 10em;
    margin: auto 0 auto 0;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    align-self: center;
    margin-left: 10px;
    object-fit: cover;
}

.card-info h2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: start;
    align-self: center;
}

.card-link {
    padding: 10px;
    text-decoration: none;
    background-color: #FC3C44;
    color: #F5F4F1;
    border-radius: 10px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
}



.swiper {
    width: 400px;
    height: 540px;
    background-color: none;
}

.swiper-slide {
    border: #F5F4F1 solid 5px;
    border-radius: 20px;
    box-shadow: #000 0px 0px 17px;
}
.swiper-button{
    color: #FC3C44 !important;
	margin: -200px; }
	
 @media only screen and (max-width: 600px) {
	 .swiper-button-next,
	 .swiper-button-prev{
	 display: none;}
	 width: 100%;
     max-width: 100%;
     max-height: none;
     grid-template-rows: auto auto;
 }