* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FC3C44;
    font-family: "Goudy Bookletter 1911", sans-serif;
}

body {
    background-color: #1C1C1C;
}

.title {
    display: flex;
    justify-content: center;
}

.album-cards {
    display: flex;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto 0 auto;
    max-width: 400px;
      max-height: 536px;
    background-color: #141414;
}

.card h2 {
    z-index: 10;

}

.album-img-overlay-container {}

.album-img {
    max-width: 400px;
    z-index: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;

}

.album-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FC3C44;
    padding: 10px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: -1;
    z-index: 100;
    align-self: end;
}

.card-info {
    margin: 0 auto 0 auto;
    border-top: #1ED760 solid 1px;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-end: -1;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.avatar {
    width: 100px;
    height: 100px;
    border: #FC3C44 solid 2px;
    border-radius: 10em;
    margin: auto 0 auto 0;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    align-self: center;
    margin-left: 10px;
    object-fit: cover;
}

.card-info h2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: start;
    align-self: center;
}

.card-link {
    padding: 10px;
    text-decoration: none;
    background-color: #FC3C44;
    color: #fff;
    border-radius: 10px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
}



.swiper {
    width: 400px;
    height: 540px;
    background-color: none;
}

.swiper-slide {
    border: #fff solid 5px;
    border-radius: 10px;
    box-shadow: #fff 0px 0px 10px;
}
.swiper-button{
    color: #FC3C44;
}